#container {
    background-color: rgb(27, 26, 26);
    width: 70%;
    margin: 5%;
    box-shadow: 15px 15px rgb(19, 18, 18);
}

#outer {
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
}

#left {
    min-width: 40%;
    padding: 5%;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    min-width: 40%;
    color: white;
}

#image {
    width: 100%;
}

#image img {
    width: 100%;
    box-shadow: 10px 10px rgb(19, 18, 18);
}

#contact-btn {
    background-color: #ed4322;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#contact-btn:hover {
    background-color: #d42300;
}

.btn {
    height: 40px;
    width: 40px;
    display: block;
    margin: 15px;
    filter: invert(100%);
}

#container {
    display: flex;
    justify-content: space-around;
}

#main-content {
    min-width: 70%;
}

#main-content h3 {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

#main-content p {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: justify;
}

#contact {
    display: flex;
    margin-top: 30px;
    margin-left: -10px;
}

span {
    color: #ed4322;
}

@media screen and (max-width: 1000px) {
    #container {
        display: block;
    }
    #btn-below {
        text-align: center;
    }
    #contact-btn {
        font-size: 0.7rem;
    }
    #contact {
        justify-content: center;
        margin: 30px 0px;
    }
}

#development {
    background: url('https://miro.medium.com/max/3840/1*zw8BQLsEsgbzqSYH2A-UFA.png') no-repeat;
    width: 100%;
    background-color: whitesmoke;
}

#development-line-1 {
    padding: 20% 10% 5% 10%;
    font-size: 1.1rem;
    color: white;
    font-family: sans-serif;
}

#development-line-2 {
    padding: 0% 10% 5% 10%;
    font-size: 1.1rem;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.tech-item {
    margin: 0% 0% 1% 14%;
    font-size: 1.1rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    list-style: circle !important;
}

ul {
    padding-bottom: 10%;
}

@media screen and (min-width:700px) {
    #development-line-1 {
        padding: 10% 10% 2% 10%;
    }
    #development-line-2 {
        padding: 0% 10% 2% 10%;
    }
    .tech-item {
        margin: 0% 0% 1% 11%;
        font-size: 1.1rem;
        color: white;
        list-style: circle !important;
    }
    #git {
        margin: 200px !important;
    }
    #git a {
        color: white;
        text-decoration: none;
        font-size: 3rem !important;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
}

#git {
    display: inline-block;
    padding: 20px;
    background-color: #ed4322;
    border-radius: 100px;
    margin: 30px;
    margin-top: 40px;
    transition: all 0.2s ease-in-out;
    box-shadow: 5px 5px rgb(8, 0, 51);
}

#git:hover {
    cursor: pointer;
    background-color: black;
}

#git a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#git-container {
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/f1d0d572816947.5c2bcd89d519b.gif') no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 800px;
}