* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --brand_color: #ed4322;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
nav {
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.branding {
    width: 50px;
    margin: 10px;
}

#navbar {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: flex-end;
}

.nav-item {
    list-style: none;
    margin: 10px 20px;
    transition: all 0.2s ease-in-out;
}

.nav-item a:hover {
    color: black;
}

.nav-item a {
    transition: all 0.5s ease-in-out;
    color: var(--brand_color);
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width:984px) {
    nav {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #navbar {
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        display: none;
    }
    .hamburger {
        z-index: 1;
        position: absolute;
        top: 3%;
        left: 1%;
        cursor: pointer;
    }
    .line {
        margin: 4px;
        width: 33px;
        height: 4px;
        background-color: #ed4322;
    }
    #fb-btn {
        padding: 2% !important;
    }
}

#current {
    color: black;
}


/* Footer CSS */

footer {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2rem;
    background-color: rgb(131, 131, 131);
    padding: 20px;
}

footer a {
    color: white;
}

footer p {
    text-align: center;
}

#developer {
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 5px;
    background-color: #ed4322;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#developer:hover {
    background-color: #b32407;
}

#fb-btn {
    color: white;
    display: inline-block;
    cursor: pointer;
    margin: 20px;
    margin-top: 30px;
    padding: 1%;
    background-color: #4267B2;
}

#fb-btn:hover {
    background-color: #1b4db3;
}

#outer-div-fb {
    text-align: center;
}


/* Scroll bar */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
